/* Base styles */
.feedback-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: auto;
  margin-bottom: 20px;
  flex-direction: column;
}

.feedback-header_title {
  text-align: center;
  font-weight: 500;
  color: var(--primary-color);
  font-size: 50px;
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 20px;
}

.feedback-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.feedback-item_container {
  width: 32%;
  height: 300px;
  padding: 20px;
  border-radius: 3px 0px 0px 0px;
  background: #ffffff;
  box-shadow: 0px 7px 30px 0px #0000000d;
  display: flex;
  flex-direction: column;
}

.feedback-item_content {
  flex-direction: column;
}

.feedback_quotation-mark {
  font-family: "Arial Rounded MT Bold", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 69.43px;
  color: #224f34;
}

.feedback_author {
  font-family: "Roboto Serif", serif;
  font-size: 22px;
  font-weight: 600;
  color: #224f34;
}

.feedback_message {
  font-size: 16px;
  margin-top: 10px;
}

.pagination-controls_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-btn_control {
  background-color: #c2efd4;
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.pagination-btn_control:hover {
  background-color: #c2efd4;
}

.pagination-btn_control:disabled {
  background-color: #c2efd4;
  cursor: not-allowed;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .feedback-item_container {
    width: 48%; /* Two items per row on medium screens */
    height: 250px;
  }
}

@media (max-width: 768px) {
  .feedback-header_title {
    font-size: 40px;
  }

  .feedback-item_container {
    width: 100%; /* One item per row on small screens */
    height: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .feedback-header_title {
    font-size: 30px;
  }

  .feedback-item_container {
    padding: 15px;
  }

  .feedback_quotation-mark {
    font-size: 40px;
  }

  .feedback_author {
    font-size: 18px;
  }

  .feedback_message {
    font-size: 12px;
  }
}
